<div
  class="container-md py-2"
  [ngStyle]="{ 'height.px': (element_height$ | async) }"
>
  <div style="height: 100%">
    <ngx-charts-area-chart
      *ngIf="data$ | async as data"
      [scheme]="colorScheme"
      [legend]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisTicks]="data.ticks"
      yAxisLabel="Speed (knts)"
      [results]="data.data"
      [animations]="true"
      [autoScale]="false"
    >
    </ngx-charts-area-chart>
  </div>
</div>

<div
  class="container-md py-2"
  [ngStyle]="{ 'height.px': (element_height$ | async) }"
>
  <app-compass-bearing-chart
    [wind_data_to_use$]="wind_data_to_use$"
  ></app-compass-bearing-chart>
</div>
